<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Learning Objectives</h4>
			<ul>
				<li>Know the difference and similarities between template-driven forms and model-driven forms.</li>
				<li>How to create a HTML form with a dynamic select box control.</li>
				<li>How to define a form model on your component and link it to existing HTML form controls.</li>
				<li>How to add validation checks to our form via the form model.</li>
				<li>How to style our form in order to give visual feedback to the user so they know when the fields don’t pass the validation checks.</li>
				<li>How to add validation error messages to the form to give hints to the user about why the field isn’t passing a validation check.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center">
			<button class="btn btn-primary" routerLink="modelform">Start</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>